
1 - simples/QS6.dproj
1 - simples/QS6.exe
1 - simples/QS6.dproj.local
1 - simples/QS6.identcache
1 - simples/QS6.dof
1 - simples/QS6.cfg
1 - simples/enunciado.txt.bak
1 - simples/enunciado.txt
1 - simples/QS6_Icon.ico
1 - simples/uSubstitui.dcu
1 - simples/uISubstitui.dcu
1 - simples/QS6.otares
